<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:jaxws="http://cxf.apache.org/jaxws"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.2.xsd
        http://cxf.apache.org/jaxws http://cxf.apache.org/schemas/jaxws.xsd
       http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.2.xsd">

    <import resource="overrides.xml" /> 
    <import resource="model.xml" /> 
    <import resource="modules/modules.xml" /> 
    
    
    <!-- application UI -->
    <bean id="applicationUI" class="pl.exsio.ca.app.ui.ApplicationUI" scope="prototype">
    </bean>
    
    <!-- application viewport -->
    <bean id="viewport" class="pl.exsio.ca.app.viewport.AppViewport" scope="ui">
        <property name="navigationTarget" ref="navigationTarget" />
        <property name="navigator" ref="navigator" />
        <property name="menu" ref="menu" />
        <property name="accountMenu" ref="accountMenu" />
        <property name="coreRepositories" ref="coreRepositoryProvider" />
    </bean>
    
    <!-- navigation target component, that displays modules -->
    <bean id="navigationTarget" class="pl.exsio.frameset.vaadin.navigation.target.TabbedNavigationTarget" scope="ui">
    </bean>

    <!-- main application menu -->
    <bean id="menu" class="pl.exsio.frameset.vaadin.navigation.menu.AccordionMenu" scope="ui">
        <property name="menuBuilder" ref="menuBuilder" />
    </bean>
    
    <!-- menu with account information, settings and logout button -->
    <bean id="accountMenu" class="pl.exsio.frameset.vaadin.account.HorizontalAccountMenu" scope="ui">
        <property name="securityRepositories" ref="securityRepositoryProvider" />
        <property name="logoutPath" value="logout/" />
    </bean>
    
    <!-- this bean has to be configured in order for accountMenu to work -->
    <bean id="accountEditionWindow" class="pl.exsio.frameset.vaadin.account.AccountEditionWindow" scope="ui">
        <property name="securityRepositories" ref="securityRepositoryProvider" />
        <property name="securityEntities" ref="securityEntityFactory" />
        <property name="entityProvider" ref="userEntityProvider" />
        <property name="passwordEncoder" ref="passwordEncoder" />
    </bean>
    
  
</beans>